################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POCs/.vs/POCs/FileContentIndex/0a5c2770-a6ab-4904-98ae-dd222c98e4d2.vsidx
/POCs/.vs/POCs/FileContentIndex/d51c1909-07a5-4fad-952c-9ef71f97deea.vsidx
/POCs/.vs/POCs/FileContentIndex
/POCs/.vs